version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: daily
    groups:
      non-breaking-changes:
        update-types: [minor, patch]
    # Globally ignore ALL major version upgrades (breaking changes)
    # You will only receive PRs for patch and minor updates
    ignore:
      - dependency-name: '*'
        update-types: ['version-update:semver-major']

  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: weekly
    groups:
      non-breaking-changes:
        update-types: [minor, patch]
