# Node dependencies
node_modules

# Build outputs
.output
.nuxt
.nitro
.cache
dist
.turbo
.next
out
build

# Logs
*.log
logs

# Environment files
.env
.env.local
.env.*.local
!.env.example

# Misc
.DS_Store
.fleet
.idea
.vscode
